@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 23% 95%;
    /* #F7F5F0 */
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;

    --primary: 234 41% 30%;
    /* Deep Blue */
    --primary-foreground: 0 0% 98%;

    --secondary: 43 15% 90%;
    --secondary-foreground: 234 41% 30%;

    --muted: 43 15% 92%;
    --muted-foreground: 43 10% 40%;

    --accent: 43 15% 94%;
    --accent-foreground: 234 41% 30%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 43 20% 90%;
    --input: 43 20% 90%;
    --ring: 234 41% 30%;

    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}